header.header
    .header__colunmn
        a(href=routes.home)
            i.fab.fa-youtube
        
    .header__colunmn
        ul 
            li 
                a(href=routes.join) Join
            li 
                a(href=routes.login) Log In